<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Sensors</title>
  </head>

  <body>
    <% include ../partials/header %>
		<div class="container-fluid">
      <div class="row">
				<% include ../partials/menu %>
				<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
					<h1>Sensors</h1>
					<form method="post" action="/sensors/selection/">
						<label for="pseudo">Select the sensor :</label>
						<select name="controller" id="controller" onchange="form.submit()">
							<% controllers.forEach(function(controller, index) { %>
							<option 
								value="<%= controller.name %>"
								<% if(controllerSel == controller.name){ %>
									selected
								<% } %>>
								<%= controller.name %>
							</option>
							<% }); %>
						</select>
						<select name="sensor" id="sensor" onchange="form.submit()">
							<% sensors.forEach(function(sensor, index) { %>
							<option 
								value="<%= sensor.id %>"
								<% if(sensorSel == sensor.id){ %>
									selected
								<% } %>>
								<%= sensor.id %>
							</option>
							<% }); %>
						</select>
					</form>
					<div class="input-group">   
					  <div class="form-group">
							<form id="formDaterange" method="post" action="/sensors/daterange/">
						    <div class="input-group">
									<span class="input-group-addon">
						        <input type="checkbox"
											onclick="document.getElementById('daterange').disabled=!this.checked;">
						      </span>
						      <input class="form-control" id="daterange" name="daterange"
										type="text" placeholder="Ex : 08-11-2017 - 15-11-2017" disabled/>
									<span class="input-group-addon">
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</span>
						    </div>
							</form>
					  </div>
					</div>
					<h2>Measures</h2>
        	<canvas id="line-chart"></canvas>
					<script>
						var date = [];
						var temperature = [];
						var humidity = [];
						var luminance = [];
						var battery = [];
						<% measures.forEach(function(measure, index) { %>
							date.push("<%= measures[index].date %>");
							temperature.push(<%= measures[index].temperature %>)
							humidity.push(<%= measures[index].humidity %>)
							luminance.push(<%= measures[index].luminance %>)
							battery.push(<%= measures[index].battery %>)
						<% }); %>
						display_chart(date, temperature, humidity, luminance, battery);
					</script>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
									<th>date</th>
                  <th>temperature</th>
                  <th>humidity</th>
                  <th>luminance</th>
                  <th>battery</th>
                  <th>motion</th>
                </tr>
              </thead>
              <tbody>
								<% measures.forEach(function(measure, index) { %>
                <tr>
                  <td><%= measures[index].date %></td>
                  <td><%= measures[index].temperature %></td>
                  <td><%= measures[index].humidity %></td>
                  <td><%= measures[index].luminance %></td>
                  <td><%= measures[index].battery %></td>
									<td><%= measures[index].motion %></td>
                </tr>
								<% }); %>
              </tbody>
            </table>
          </div>
				</main>
			</div>
    </div><!-- /.container -->
    <% include ../partials/footer %>
  </body>
</html>